body {
  background-color: rgb(234, 214, 164);
  }

header{
  background-color: rgb(140, 118, 88);
  margin: 50px 0 0 0 ;
  height: 120px;
  }

#heading img{
  height: 120px;
  width: 300px;
}

ul {
  list-style-type: none;
  float: right;
  }
  
li {
  display: inline-block;
  margin: 0 30px 0 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*{
  box-sizing: border-box;
  }
  
.column {
  float: left;
  width: 23%;
  padding: 10px;
  text-align: center;  
  border-style: solid; 
  margin: 1%;  
  }

.description {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  }

.column2 {
  float: left;
  width: 23%;
  padding: 10px;
  text-align: center;  
  border-style: solid; 
  margin: 1%; 
  }
  
.column3 {
  float: left;
  width: 23%;
  padding: 10px;
  text-align: center;  
  border-style: solid; 
  margin: 1%;
  } 
  
.column4 {
  float: left;
  width: 23%;
  padding: 10px;
  text-align: center;  
  border-style: solid; 
  margin: 1%;    
  }

.parag {
  font-family: 'Roboto', sans-serif;
  width: 1500px;
  text-align: center;
  font-size: x-large;  
  font-weight: 1000;
  margin: 60px auto 60px auto;
  }

.row img {
  width: 200px;
  height: 200px;  
  margin: 40px 0 0 0;      
  }

a.home:link {
  color:#131c63; 
  text-decoration: none;
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}

a.home:visited {color: white;}
a.home:hover {font-size:150%;}

a.about:link {
  color:#131c63; 
  text-decoration: none;
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}

a.about:visited {color: white;;}
a.about:hover {font-size:150%;}

a.contact:link {
  color:#131c63; 
  text-decoration: none;
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}

a.contact:visited {
  color: white;
  }

a.contact:hover {
  font-size:150%;
  }

.parag2 {
  font-family: 'Saira', sans-serif;
  width: 1500px;
  text-align: center;
  font-size: x-large;  
  font-weight: 1000;
  margin: 500px auto 60px auto;
  }

footer { 
  position :sticky;
  top : 0;
  right: 0;  
}



.media {
  float: left;
}

/* Contacts */

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; 
}

input[type=submit] {
  background-color: #f44336;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.contact-info {
  width: 50%;
  background-color:rgb(241, 241, 246);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: x-large;  
  }

.contact {
  margin: 5%;
  } 


